<div class="container-fluid">

    <h3>
        <b>
          Documentation
        </b>
      </h3>
      <hr>
     <!-- <p class="text-muted">
        Updates made to the tool.
      </p> -->
     
      <div id="accordion ">
          <fieldset>
           
              <!--   <legend style="width:auto;">Documents</legend>-->
              <div class="file-list">
                  <div class="row">
                    <div class="col-3"></div>
                    <div class="col-sm-12 col-md-6 col-lg-2 mb mt-4"  *ngFor="let doc of docs;let i=index" (click)="download(doc.name+'.'+doc.type)">
                      <div class="file-container slideInRight">
                        <div style="display: inline-block">
                          <fa class="text-info file-icon" size="3x" name="file"></fa>
                          <div class="file-info">
                            <span class="file-name font-weight-bold">{{doc.name}}</span>
                            <br>
                            <span class="file-type font-weight-light">
                              <small>{{"."+doc.type}}</small>
                            </span>
                          </div>
                        </div>
                        <!--<div class="float-right" style="z-index:900;">
                          <div class="file-close">
                            <fa name="close"></fa>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>

  
          </fieldset>
          <br>

          <h3>
              <b>
                Version history
              </b>
            </h3>
            <hr>
         
        <div class="card" *ngFor="let log of logs ; let i = index" >
            <div class="card-header" id="heading{{i}}" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="true">
              <div class="clear-fix">
                <div class="float-right">

                </div>
                <div class="font-weight-light float-left" >
                    {{log.date}} <span class="badge badge-info">{{log.version}}</span>
                </div>
            </div>
            </div>

            <div id="collapse{{i}}" class="collapse show" [attr.aria-labelledby]="'heading'+i">
                <div class="pl-2 scroll-table ">
                    <table class="table-sm table-log">
                        <thead>
                            <tr>
                              <th style="width: 15%">Type</th>
                              <th style="width: 15%">ID</th>
                              <th style="width: 15%">Component</th>
                              <th style="width: 15%">Functionality</th>
                              <th style="width: 40%">Description</th>
                            </tr>
                          </thead>
                      <tbody> 
                        <tr *ngFor="let change of log.changes">
                          <td>
                            <span
                                class="badge"
                                [ngClass]="{'badge-danger':change.type=='BUG FIX','badge-primary':change.type=='CHANGE'}">
                                {{change.type}}
                              </span>
                          </td>
                          <td class="text-wrap"> {{change.id}} </td>
                          <td class="text-wrap">{{change.component}}</td>
                          <td class="text-wrap">{{change.func}}</td>
                          <td class="text-wrap">{{change.description}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
          </div>

        </div> 
        <br>
      
       
        <div class="mt-2">
            <button (click)='clearCache()' class="btn  btn-link">
              <fa name="trash"></fa>Clear Cache
            </button>
        </div>

</div>


