<div [style.opacity]="(formValidation.datasetSelected(run))?1:0.5" [style.pointer-events]="(formValidation.datasetSelected(run))?'auto':'none'">
<div class="row">
  <div class="col-8">
      <div class="text-primary form-header mb-3 font-weight-bold">
          Decrements
        </div>

  </div>
  <div class="col-4 text-right">
      <div class="btn text-info" [hidden]="!canCreateDec()||!editable()" id="headingOne" (click)="newDecrement()">
          <span class="font-weight-bold">New</span>
          <span class="float-right ml-2">
            <fa name="plus-circle"></fa>
          </span>

        </div>
  </div>
</div>
<hr class="mt-0 opacity-half">

</div>

<div class="mb-3" id="accordion">
  <div class="card mb-2" *ngFor="let dec of run.decrements; let i = index">
    <div class="card-header fadeIn pointer bg-light text-primary pt-2 pb-2 border-0 collapsed" [attr.id]="'headingDecrement'+component_number+'-'+i" data-toggle="collapse"
      [attr.data-target]="'#collapseDecrement'+component_number+'-'+i" aria-expanded="true" [attr.aria-controls]="'collapseDecrement'+component_number+'-'+i">

      <span *ngIf="!dec.id"> Decrement {{i+1}} </span>
      <span *ngIf="dec.id" class="font-weight-boldest text-uppercase"> {{dec.decrement}} </span>

      <span class="float-right">
        <fa class="show-state" name="chevron-down"></fa>
      </span>

    </div>

    <div [attr.id]="'collapseDecrement'+component_number+'-'+i" class="collapse" [attr.aria-labelledby]="'headingDecrement'+component_number+'-'+i">
      <div class="card-body">

        <app-run-decrement-definition [dimensions]="dimensions" [datasets]="datasets" [run]="run" [study]="study" [decrement]="dec" [tab]="component_number" [ind]="i" [canEditRun] = "canEditRun" [canEditPerm]="canEditPerm" [pduration]="isPolicyDuration" (saveRun)="saveRunFunction()"></app-run-decrement-definition>

        <div class="clear-fix">
          <button (click)="deleteDecrement(i)" [disabled]="!editable()" class="btn btn-sm btn-danger float-right mb-3 mt-2">
            Delete Decrement
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-2 text-muted" *ngIf="!run.decrements || ( run.decrements  && run.decrements.length == 0) ">
    No Decrements added yet. Decrements can be added by clicking on New.
  </div>
</div>

