$custom-bg-color:white;

$brand-primary:#454596;
$brand-primary-hover:rgb(44, 20, 109);

$menu-button-length:22px;
$sidebar-length:72px;

//SCOR COLORS
$blueScor:#007090;
$blueScorHover:#348da6;

$rowBlue:#cde3ea;
$rowBlueLight:#e0eef2;

$greyLight:#f0f1f4 ;
$greyBorder:#c2c2c2 ;
$greyMedium:#999999 ;
$greyDark:#3c3c3c ;

$orange:#71b382 ;
$violet:#5a6692 ;
$red:#ec5a5a ;
$green:#71b382 ;
