.calibration-report-list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;

    li{
        border-left: 2px solid #e48181; 
        // background: #f3e0e0;
        margin: 1px 0 1px 0;
        padding: 5px 20px;
    }
}
.danger-report {
    background: #f3e0e0;
}
.warning-report {
    background: #f3e1a8;
}