<nav class="navbar navbar-scor navbar-expand-lg navbar-light sticky-top" role="navigation">
  <button class="btn btn-menu d-md-none" id="menu-toggle">
    <fa name="bars" ></fa>
  </button>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item d-none d-md-block">
      <div class="profile">
        <div class="p-image">
          <img src="assets/images/Apex.png">
        </div>
      </div>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">

  </ul>

  <ul class="navbar-nav ml-auto ">
    <app-user-info></app-user-info>

  </ul>

</nav>
